/* ESTILOS GERAIS */
body {
  background: hsl(185, 75%, 39%);
  font-family: "Kumbh Sans", sans-serif;
  position: relative;
  overflow: hidden;
}

span,
p,
li {
  font-size: 0.875em;
}

h1,
h2 {
  font-size: 1.3725em;
  z-index: 1;
}

span,
p {
  color: hsl(0, 0%, 59%);
  font-weight: normal;
}

/* BG IMGS */
.bg-top,
.bg-bottom {
  position: absolute;
}

.bg-top {
  top: -700px;
  left: -350px;
}

.bg-bottom {
  bottom: -800px;
  right: -200px;
}
@media (max-width: 600px) {
  .bg-top {
    top: -700px;
    left: -700px;
  }

  .bg-bottom {
    bottom: -800px;
    right: -650px;
  }

  body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
/* CARD */
.card-container {
  position: relative;
  z-index: 100;
  width: 350px;
  margin: 0 auto;
  margin-top: 150px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 25px 30px 0 hsl(0, 0%, 0%, 0.4);
}

.card-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.profile-img {
  border: 5px solid #fff;
  border-radius: 50%;
  margin: 84px auto 10px auto;
  z-index: 1;
}

.card-bg {
  position: absolute;
  border-radius: 10px 10px 0 0;
  top: 0;
  left: 0;
}

.city {
  margin-top: 5px;
  margin-bottom: 30px;
}

/* INFOS */
.info-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  border-top: 1px solid hsl(0, 0%, 96%);
}

.info-container li {
  text-align: center;
}

.info-container span {
  letter-spacing: 0.1em;
}
